<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mall.auth.mapper.role.RoleMapper">


    <select id="findResourceByRoleId" resultType="com.dj.mall.auth.entity.resource.Resource">
        SELECT
        r.*
        FROM
        djmall_auth_role_resource rr
        LEFT JOIN djmall_auth_resource r ON r.id = rr.resource_id
        WHERE
        rr.role_id = #{roleId}
    </select>
</mapper>