<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.mall.dict.mapper.attr.AttrMapper">
	<select id="findAllAttr" resultType="com.dj.mall.dict.bo.AttrBo">
        SELECT
        attr.id as attrId,
        attr.attr_name,
        GROUP_CONCAT(DISTINCT val.attr_value SEPARATOR ',') AS valueList,
        GROUP_CONCAT(DISTINCT val.id SEPARATOR ',') AS valIdList
        FROM
        djmall_dict_product_attr attr
        LEFT JOIN djmall_dict_product_attr_value val ON val.attr_id = attr.id
        LEFT JOIN djmall_dict_product_sku_gm gm ON val.attr_id = gm.attr_id
        WHERE 1 = 1
        <if test="productType != null and '' != productType">
           and gm.product_type = #{productType}
        </if>
        GROUP BY attr.id
	</select>
    
</mapper>